<nav class="navbar">
    <a href="/restaurant">Restaurant Archive</a>
    <a href="/recipe">Recipe Archive</a>
    <a href="/" class="title">FLAVORS & FORTUNES</a>
    <a href="/form">Add Food Review</a>
    <a href="/about">About</a>
</nav>  