<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Message Page</title>
        <link rel="stylesheet" href="/message.css">
        <script src="/message.js"></script>
    </head>
    <body>
        <%- include('nav.ejs') %> 
        <div class="thank-you"><h2>THANK YOU!</h2><p>The <em>Golden Masters</em> have received your offering.<br><br>Crack to reveal their message for you.</p></div>
        <div class="gif-container">
            <img src="/assets/fortune-cookie-no.png" alt="fortune cookie image" id="cookie-img">
        </div>
        <div class="message-container"></div>
        <footer>
            <p>© 2025 FLAVORS & FORTUNES. <br>Guided by the All-Knowing Golden Masters.</p>
        </footer>
    </body>
</html>